 table th {
   background-color: #ffdfdf;
   padding: 10px 20px;
   border: solid 1px black;
 }
 
 table td {
   background-color: #f1c8c861;
   text-align: center;
   padding: 10px 20px;
   border: solid 1px black;
 }
 
 .notice {
   background-color: #ccf;
   padding: 5px;
 }
 
 header, footer {
   width: 100%;
   padding: 10px;
   background: #c52f24;
   color: #fff;
   margin: 0px;
 }